{% extends 'admin_update.html' %}

{% block update_content %}
<div>
<form action="{{ action }}" method="POST">
<table>
{% for form in my_vars %}
    {% if forloop.last %}
    <tr><th colspan="2">NEW ENTRY:</th></tr>
    {% endif %}
    {{ form.as_table }}
    {% if not forloop.last %}
    <tr><td><label for="delete-{{ form.prefix }}">Delete?</label></td>
        <td><input type="checkbox" id="delete-{{ form.prefix }}" name="delete-{{ form.prefix }}"></td></tr>
    {% endif %}
{% endfor %}
<tr><td colspan="2">
        <input type="submit" name="submit" value="Submit">
</td></tr>
</table>
</form>
</div>

<div>
<h3>New Post</h3>
<a href="?id={{ display.id }}&m=edit">Click here</a> to create a new post
</div>

<div>
<h3>Edit old post</h3>
<ul>
{% for post in posts %}
<li><a href="?id={{ display.id }}&m=edit&uid={{ post.uid }}">{{ post.uid }}</a></li>
{% empty %}
None
{% endfor %}
</ul>
</div>
{% endblock %}
